/* CSS for common elements across pages */

.navbar-label{
    background-color: teal;
    padding: 1em;
    font-size: xx-large;
    color: white;
}

.navbar-link{
    color:dimgrey;
    margin-left: 10px;
}

body{
    background-color: lightgray;
}

h1{
    color:teal;
    text-align: center;
    padding: 10px;
    font-size: xx-large;
}

h2{
    color:teal;
    padding: 15px;
    font-size: medium;
}

.text{
    padding: 1em;
    color:dimgrey;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.col-sm-2{
    float: left;
    width: 22%;
    margin-right: 4%;
    box-sizing: border-box;
}

.container2 {
    margin: auto;
    margin-top: 2em;
    width: 1200px;
    padding: 8px;
  }
  
.img-thumbnail {
    display: inline-block;
    margin-left: 4px; 
    margin-bottom: 4px;
    float: right;
    clear: right;
  }

  #views_slideshow_thumbnailhover_main_field_photo-page_1{
    float:left;
    }


/* CSS for large individual text blocks */

#title{
    background-color: white;
    padding: 10px;
}

#comparison{
    background-color: white;
    margin-right: 10px;
    margin-left: 10px;
}

.compare-2 {
    margin-left: 15px;
}

#data{
    background-color: white;
}

/* CSS for visualization section on most pages */

#visualizations{
    background-color: white;
    padding: 10px;
}

#space{
    padding:10px;
}

/* CSS for tables */

.table{
    table-layout: auto;
    font-size-adjust: inherit;
}

/* CSS for images */

.img-1 {
    height: 150px;
    position: relative;
    margin-bottom: 10px;
}

.img-2 {
    height: 150px;
    margin-bottom: 10px;
    position: relative;
}

.img-3 {
    height: 150px;
    margin-bottom: 10px;
    position: relative;
}

.img-4 {
    height: 150px;
    margin-bottom: 10px;
    position: relative;
}

.img-summary{
    height: 300px;
    position: relative;
}

.img-compare1{
    height:300px;
    position: relative;
}

.img-compare2{
    height:300px;
    position: relative;
}

.img-compare3{
    height:300px;
    position: relative;
    margin-left:15px;
}

.img-compare4{
    height:300px;
    position: relative;
    margin-left:15px;
}

/* CSS for smaller screen sizes */

@media (max-width:1000px){
    .img-1{
        height: 320px;
        margin-left: 15px;
    }
    .img-2{
        height: 320px;
        margin-left: 15px;
    }
    .img-3{
        height: 320px;
        margin-left: 15px;
    }
    .img-4{
        height: 320px;
        margin-left: 15px;
    }

    .img-summary{
        height:320px;
        margin-left: 15px;

    }
}

