/* CSS for common elements across pages */

.navbar-label{
    background-color: teal;
    padding: 1em;
    font-size: xx-large;
    color: white;
}

.navbar-link{
    color:dimgrey;
    margin-left: 10px;
}

body{
    background-color: lightgray;
}

h1{
    color:teal;
    text-align: center;
    padding: 10px;
    font-size: xx-large;
}

h2{
    color:teal;
    padding: 15px;
    font-size: medium;
}

.text{
    padding: 1em;
    color:dimgrey;
    font-size: 15px;
    text-align: left;
}

.col-sm-2{
    float: left;
    width: 22%;
    margin-right: 4%;
    box-sizing: border-box;
}

.container2 {
    margin: auto;
    margin-top: 2em;
    width: 1200px;
    padding: 8px;
  }
  
.img-thumbnail {
    display: inline-block;
    margin-left: 4px; 
    margin-bottom: 4px;
    float: right;
    clear: right;
  }



